.button {
  font: var(--primary-font-family);
  background-color: var(--button-color);
  width: 100%;
  border: transparent;
  font-size: var(--font-size-body-normal);
  padding: 1vw;
  border-radius: 5rem;
}

.input {
  background-color: var(--input-field-bg);
  border-radius: 5rem;
  width: 100%;
  border: 1px solid transparent;
  color: var(--header-text);
  padding: 0.75vw;
  font-size: var(--font-size-body-normal);
}

.dropdown-parent {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--card-bg-main);
  font-size: var(--font-size-body-small);
  color: var(--header-text);
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content p {
  text-decoration: none;
  display: block;
  width: 10vw;
  padding: 0.2vw;
}

.dropdown-content p:hover {
  background-color: var(--card-bg-secondary);
  cursor: pointer;
}

.dropdown-parent:hover .dropdown-content {
  display: block;
}
