#root {
  /*General bgs*/
  --bg-alternate: #161618;
  --bg-accent: #2a2f3b;

  /*Card bgs */
  --card-bg-main: #202127;
  --card-bg-secondary: #3a4149;
  --card-bg-accent: #4a3b5c;

  /*Text and Button colors */

  --button-text: #243600;
  --button-color: #acd268;
  --button-border: transparent;
  --alt-button-color: #32363f;

  --header-text: #dfdfd6;
  --general-text: #98989f;
  --sub-text: #606061;
  --input-field-bg: #161618;
  --error-text: #d45656;
  /* Font sizes */

  --font-size-body-normal: 1vw;
  --font-size-body-small: 0.875vw;

  --font-size-card-title: 1.5vw;
  --font-size-header: 2.5vw;
}
:root {
  --bg-root: #1b1b1f;
  --primary-font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: auto;
  --general-text: #98989f;

  background-color: var(--bg-root);
  font-family: var(--primary-font-family);
  color: var(--general-text);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 10px;
}

.filter {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  margin-bottom: 10vh;
  margin-top: 2vh;
  justify-items: center;
  text-align: center;
}
.filter h3 {
  font-size: var(--font-size-card-title);
  color: var(--button-color);
}

.data-grid {
  display: grid;
  grid-template-columns: repeat(5, 13.5vw);
  text-align: center;
  width: 70%;
  margin: 0 15vw;
  font-size: var(--font-size-body-normal);
}

.grid-header {
  display: contents;
  font-weight: bold;
  color: var(--button-color);
  cursor: pointer;
  font-size: 1.25vw;
}

.grid-row {
  display: contents;
}

.grid-row div,
.grid-header div {
  padding: 1vh;
  border-bottom: 1px solid var(--button-color);
}

.header-container {
  font-size: var(--font-size-header);
  flex: 1;
  text-align: center;
  color: var(--button-color);
}

.ascdesc {
  position: absolute;
  left: 85%;
  height: 4vh;
  padding: 1vw;
  font-size: 2vw;
  cursor: pointer;
  color: var(--button-color);
}

.input-container {
  position: absolute;
  top: 21%;
  left: 7.5%;
  width: 5vw;
}

.page-change {
  display: flex;
  justify-content: center;
  background-color: #161618;
  padding-bottom: 5vh;
  width: 100%;
}
